<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="copyeverything.tk.copyeverything" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SocketDataBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <service
            android:name=".IncomingDataListener"
            android:exported="false"
            android:label="Incoming Listener" >
            <intent-filter>
                <action android:name="copyeverything.tk.copyeverything" />
            </intent-filter>
        </service>
        <service
            android:name=".CopyListener"
            android:exported="false"
            android:label="Copy Listener" >
            <intent-filter>
                <action android:name="copyeverything.tk.copyeverything" />
            </intent-filter>
        </service>

        <receiver
            android:name=".StartListeners"
            android:label="StartListeners" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Twitter -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54aba1cbe05a5f5c3e83ffe80ca158d244a5ee69" />
        <!-- Facebook -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>